body {
  background: #0d1117;
}
.text {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  padding-left: 30px;
}
.text a {
  text-decoration: none;
  color: #fefdfd;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

  nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
  nav ul li {
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fefdfd;
}
nav ul li a {
  text-decoration: none;
  color: #fefdfd;
}

/* Main */
.contacts {
  display: flex;
  margin: 200px 0;
  margin-left: 400px;
  background-color: #5f43b2;
  width: 1100px;
  height: 500px;
  border-radius: 30px;
}
.contact-image {
  margin-right: 120px;
}
.contact-image img {
  width: 350px;
  padding: 50px 0 35px 50px;
}
.contacts-text {
  text-align: center;
  padding: 155px 0 60px;
}
.contacts-text p {
  color: white;
  padding: 20px 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  cursor: default;
}


